.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.App h1 {
  text-align: center;
}

.App p {
  text-align: center;
}

.navigation {
  margin-bottom: 2rem;
  text-align: center;
}

.navigation button {
  min-width: 100px;
}

.card {
  background-color: #e6e7ee;
  border: 1px solid #cdced4;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #c4c4ca, -3px -3px 5px #f3f4f6;
  padding: 1rem;
  min-height: 300px;
  justify-content: center;
}

button {
  margin-right: 1.5rem;
  font-family: sans-serif;
  background-color: #e6e7ee;
  border: 1px solid #cdced4;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #c7c8cd, -3px -3px 5px #f3f4f6;
  color: #31344b;
  min-height: 40px;
  min-width: 90px;
  font-size: 1rem;
}

button:hover,
button[hover] {
  border: 1px solid #cdced4;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px #c7c8cd, inset -3px -3px 5px #f3f4f6;
  background-color: #e6e7ee;
  color: #31344b;
}
